* {
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: 'Kanit', sans-serif;
}

body {
    height: 100%;
    background-color: #050505;
}

#tituloSite {
    color: white;
    font-size: 60px;
    padding: 20px;
}

.boxSuspenso {
    background-color: crimson;
}

.config {
    padding: 10px;
}

.configInputTitle {
    background-color: darkred;
    margin: 20px;
    padding: 20px;
    width: min-content;
    min-width: 400px;
}

.configInputTitle:hover {
    background-color: rgb(19, 19, 19);
}